{% extends 'blog/base.html' %}

{% block hero %}

    <div class="jumbotron bg-white jumbotron-fluid">
        <h1 class="display-4">Start Writing Your Essays Now!</h1>
        <p class="lead">A place to store all of your amazing research</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae velit at nisl aliquet accumsan.</p>
        <p class="lead">
            <a class="btn btn-outline-secondary btn-lg" style="width: 200px" href="{% url 'blog-create' %}" role="button">Start Now!</a>
        </p>
    </div>

{% endblock hero %}